* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffcc99;
  color: white;
  min-height: 100vh;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 20vh;
}

form input {
  width: 23vh;
  height: 5vh;
  border: none;
  outline: none;
  font-size: 20px;
}

form .addButton,
.completed-button,
.delete-btn {
  border: none;
  border-radius: 2px;
  height: 5vh;
  width: 5vh;
  background-color: #f1eded;
  outline: none;
}

.completed-button,
.delete-btn {
  margin: 1px;
}
.fa-plus-square:before {
  font-size: 4vh;
  color: #eca762;
}
.addButton:hover,
.completed-button:hover,
.delete-btn:hover {
  background-color: grey;
}

select {
  appearance: none;
}
.select {
  /* margin: 5px; */
  position: relative;
  padding: 0;
  margin-top: 0;
  display: flex;
}

.select::after {
  content: "\25BC";
  position: absolute;
  color: #eca762;
  font-size: 20px;
  right: 0;
  padding: 10px;
  pointer-events: none;
}

.selectOption {
  width: 18vh;
  height: 5vh;
  border: none;
  outline: none;
  border-radius: 2px;
  margin: 4px;
  color: #eca762;
}

select.selectOption {
  background-image: linear-gradient(90deg, transparent 75%, #f1eded 25%);
}

select.selectOption:hover {
  background-image: linear-gradient(90deg, transparent 75%, grey 25%);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  width: 20%;
}

.todo {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 3px;
  background: white;
  color: black;
  padding-left: 3px;
}

.completed-button {
  margin-left: auto;
}

.fa-check:before,
.fa-trash:before {
  color: #eca762;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
