* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffcc99;
  color: white;
  min-height: 100vh;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 20vh;
}

form input {
  width: 15%;
  height: 5vh;
  border: none;
  outline: none;
  font-size: 20px;
}

form .addButton {
  border: none;
  border-radius: 2px;
  height: 5vh;
  width: 5vh;
  background-color: #f1eded;
}

.fa-plus-square:before {
  font-size: 30px;
  color: #eca762;
}
.addButton:hover {
  background-color: grey;
}

.select {
  /* margin: 5px; */
  padding: 0;
  margin-top: 0;
  display: flex;
}

.selectOption {
  height: 5vh;
  border: none;
  outline: none;
  border-radius: 2px;
  margin: 4px;
  color: #eca762;
}

select.selectOption {
  background-image: linear-gradient(90deg, transparent 75%, #f1eded 25%);
}

select.selectOption:hover {
  background-image: linear-gradient(90deg, transparent 75%, grey 25%);
}
